<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hdstart.cloud.mapper.ImagesMapper">

    <resultMap id="BaseResultMap" type="org.hdstart.cloud.entity.Images">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="blogId" column="blog_id" jdbcType="INTEGER"/>
            <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="DATE"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,blog_id,img_url,
        create_time,is_deleted
    </sql>
    <delete id="deleteBatchBlogIds">
        DELETE FROM images
        WHERE blog_id IN
        <foreach collection="blogIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteBatchUrls">
        delete from images
        where img_url in
        <foreach collection="removeImgUrls" item="url" open="(" separator="," close=")">
            #{url}
        </foreach>
    </delete>
    <select id="selectListUrls" resultType="java.lang.String">
        select `img_url`
        from images
        where blog_id = #{blogId}
    </select>
    <select id="listUrlBatchBlogIds" resultType="org.hdstart.cloud.vo.BlogImgUrlVo">
        SELECT blog_id as blogId,img_url as imgUrl
        FROM `images`
        WHERE blog_id IN
        <foreach collection="voBlogIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
